@charset "utf-8";

/* image drag 막기 */
img {
  -webkit-user-drag: none;
}

/* S: media query */
/* font responsive */
html { font-size: 17px; }
@media (max-width: 375px) { html {font-size: 16px;} }
@media (max-width: 320px) { html { font-size: 14px;} }
@media (max-width: 300px) { html {font-size: 12px;} }

@media (max-width: 1910px) and (min-width: 1281px) and (min-aspect-ratio: 16/10) {
  html { font-size: 16px; }
}

@media (max-width: 1280px) and (min-width: 1024px) and (min-aspect-ratio: 16/10) {
  html { font-size: 15px; }
}

@media (max-width: 1910px) and (min-width: 1024px) and (min-aspect-ratio: 4/3){
  html { font-size: 15px; }
}

@media (max-width: 1280px) and (min-width: 1024px) and (min-aspect-ratio: 4/3){
  html { font-size: 14.5px; }
}

/* pc style (1024px ~ )  */
@media screen and (min-width: 1024px) {
  .desktop_wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .container {
    position: relative;
  }

  .app {
    position: relative;
    width: 100%;
    max-width: 428px;
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    z-index: 9999;
    margin: 0 0 0 58%;
  }
  /* fixed content 위치 조정 */
  #navi-area,
  .m_action_bar,
  .list_nav_wrap.sticky,
  .modal,
  .fixed_btn_wrapper,
  .list_nav_wrap.sticky,
  .sticky_nav.sticky,
  .step_btn_wrapper {
    width: 100%;
    max-width: 428px;
    margin: 0 0 0 58%;
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
  }

  .pc_pop_modal {
    display: block;
    position: fixed;
    top: 120px;
    z-index: 10000;
    margin: 0 0 0 calc(58% + 420px);
  }

  .pc_pop_modal > img {
    width: 223px;
  }

  .pc_pop_close {
    position: absolute;
    width: 1.4rem;
    bottom: 2.3rem;
    right: 2px;
  }

  .desktop_bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #f0f5f8;
  }

  .desktop_bg:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -50vw;
    right: -10vw;
    width: 67vw;
    height: 67vw;
    background-color: #81d7d8;
    border-radius: 50%;
  }

  .desktop_bg:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -10vw;
    left: -1vw;
    width: 29vw;
    height: 29vw;
    background-color: #fff;
    border-radius: 20%;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
  }

  /* desktop_menu style */
  .desktop_menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    max-width: 600px;
    width: 40%;
    padding-bottom: 100px;
    height: 100vh;
    margin: 0 0 0 10%;
  }

  .desktop_menu .admin_link_block {
    padding: 1rem 0;
  }

  .desktop_menu .logo_block .pc_logo {
    max-width: 260px;
    width: 50%;
    margin-top: 3vh;
  }

  .desktop_menu .logo_block .logo_desc {
    margin-top: 1.3rem;
    font-size: 0.9375rem;
    font-weight: 400;
    color: #1c3b6c;
    line-height: 1.4;
  }

  .desktop_menu .pc_search_block {
    margin-top: 6vh;
  }

  .desktop_menu .pc_search_block .search_form {
    position: relative;
    width: 100%;
    border: 2px solid #1c3b6c;
    border-radius: 60px;
    max-width: 600px;
    padding: 1.3rem 2rem;
    background-color: #fff;
  }

  .desktop_menu .pc_search_block .search_form input::-webkit-input-placeholder {
    font-size: 1.05rem;
    color: #75839e;
  }

  .desktop_menu .pc_search_block .search_form input::-moz-placeholder {
    font-size: 1.05rem;
    color: #75839e;
  }

  .desktop_menu .pc_search_block .search_form input:-ms-input-placeholder {
    font-size: 1.05rem;
    color: #75839e;
  }

  .desktop_menu .pc_search_block .search_form input::-ms-input-placeholder {
    font-size: 1.05rem;
    color: #75839e;
  }

  .desktop_menu .pc_search_block .search_form input,
  .desktop_menu .pc_search_block .search_form input::placeholder {
    font-size: 1.05rem;
    color: #75839e;
  }

  .desktop_menu .pc_search_block .search_form .search_btn {
    position: absolute;
    right: 1.5rem;
    width: 35px;
    height: 35px;
  }

  .desktop_menu .pc_search_block .search_form .search_btn img {
    width: 100%;
  }

  .desktop_search_list {
    padding: 1rem 0;
    text-align: center;
  }

  .desktop_search_tag {
    display: inline-block;
    background-color: #fff;
    font-size: 0.9375rem;
    color: #75839e;
    padding: 0.8rem 1.2rem;
    margin: 0.3rem 0.35rem;
    border-radius: 2rem;
    -webkit-box-shadow: 2px 5px 10px -1px rgba(117, 131, 158, 0.4);
    box-shadow: 2px 5px 10px -1px rgba(117, 131, 158, 0.4);
  }

  .desktop_menu .pc_platform_block {
    margin-top: 3vh;
    text-align: center;
  }

  .desktop_menu .platform_link_box {
    display: inline-block;
    width: 48%;
    padding-right: 2%;
  }

  .pc_fnav_block {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 1.5rem 0;
  }

  .pc_fnav_list {
    width: 100%;
    text-align: center;
  }

  .pc_fnav_list li {
    display: inline-block;
    margin: 0.2rem;
  }

  /* default css overriding */
  .login_check_form {
    width: 100%;
    padding: 0;
    border: none;
  }

  .layer-popup-area.page {
    padding-top: 0;
  }

  /* lightbox custom */
  .lightboxOverlay {
    z-index: 10001 !important;
  }

  .lightbox {
    z-index: 10002 !important;
  }

  /* pc 브라우저 이미지 랜더링 설정 */
  .rm_wrap .img_wrap img {
    image-rendering: -webkit-optimize-contrast;
  }

}

/* 1441px ~ */
@media screen and (min-width: 1440px) {
  .desktop_menu {
    margin: 0 0 0 calc(50vw - 600px);
  }

  .pc_pop_close {
    width: 2.8rem;
  }

  .desktop_menu .pc_search_block {
    margin-top: 8.5vh;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {

  .desktop_menu .logo_block .pc_logo a img { max-width: 14.5rem; }
  
  .desktop_menu .pc_platform_block { margin-top: 2vh; }
  .desktop_menu .platform_link_box { width: 43%; }
  .desktop_menu .pc_search_block { margin-top: 3vh; }
  
  .desktop_menu .pc_search_block .search_form { padding: 1.2rem 2rem; }
  .desktop_search_tag { margin: 0.2rem; }

  .pc_fnav_block { padding: 1.1rem 0; } 
  .pc_fnav_list li img { max-width: 8rem; }
  
  .desktop_menu .admin_link_block { padding-bottom: 0; }
  .desktop_menu .admin_link_block a img { width: 170px; }
}

@media screen and (max-width: 1279px) {
  .pc_pop_modal {
    display: none !important;
  }

}

/* ipad pro ( width : 1024px ) */
@media (min-width: 429px) and (max-width: 1024px) {
  .app {
    margin: 0 0 0 calc(100vw - 470px);
  }
  /* fixed content 위치 조정 */
  #navi-area,
  .m_action_bar,
  .list_nav_wrap.sticky,
  .modal,
  .fixed_btn_wrapper,
  .list_nav_wrap.sticky,
  .sticky_nav.sticky,
  .step_btn_wrapper {
    margin: 0 0 0 calc(100vw - 470px);
  }

  .desktop_menu {
    width: calc(100vw - 470px);
    margin: 0;
    padding: 0 2.5vw 0 50px;
  }

  .pc_pop_modal {
    display: none !important;
  }

}

/* tablet ( ~  1023px ) */
@media (max-width: 1023px) {
  .pc_pop_modal,
  .desktop_menu {
    display: none;
  }
}

@media (max-height: 820px) {
  .pc_fnav_block {
    position: relative;
  }
}

@media (min-width: 429px) and (max-width: 1023px) {
  .app {
    position: relative;
    width: 100%;
    max-width: 428px;
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    margin: 0 auto;
  }

  /* fixed content 위치 조정 */
  #navi-area,
  .m_action_bar,
  .list_nav_wrap.sticky,
  .modal,
  .fixed_btn_wrapper,
  .list_nav_wrap.sticky,
  .sticky_nav.sticky,
  .step_btn_wrapper {
    width: 100%;
    max-width: 428px;
    margin: 0 auto;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
  }

  #pop-bg { margin: 0; }

  body {
    background-color: #f0f5f8;
  }
}

/* phone (  ~ 428px ) */
@media screen and (max-width: 428px) {
  body { background-color: #fff; }
  .app { border: none; }
}

/* E:webkit image rendering edit */
.hero_wrapper .swiper-slide a img { width: 380px; max-width: 100%; min-width: 100%; -webkit-transform: translateZ(0); transform: translateZ(0); }
.horizontal_item_list .item_thumb > img { width: 322.5px; max-width: 100%; }
.square_item_list .item_thumb > img { width: 166.5px; }
.main_popup .modal_body .swiper-wrapper .swiper-slide img { width: 424px; min-width: 100%; max-width: 100%; -webkit-transform: translateZ(0); transform: translateZ(0); }
@media screen and (max-width: 414px) {
  .hero_wrapper .swiper-slide a img { width: 380px; max-width: 100%; min-width: 100%; }
  .horizontal_item_list .item_thumb > img { width: 314px; max-width: 100%; min-width: 100%; }
  .square_item_list .item_thumb > img { width: 162px; }
  .main_popup .modal_body .swiper-wrapper .swiper-slide img { width: 414px; }
}
@media screen and (max-width: 411px) {
  .hero_wrapper .swiper-slide a img { width: 341px; }
  .horizontal_item_list .item_thumb > img { width: 311.44px; }
  .square_item_list .item_thumb > img { width: 160.64px; }
  .main_popup .modal_body .swiper-wrapper .swiper-slide img { width: 411px; }
}
@media screen and (max-width: 375px) {
  .hero_wrapper .swiper-slide a img { width: 377px; }
  .horizontal_item_list .item_thumb > img { width: 280.84px; }
  .square_item_list .item_thumb > img { width: 144.44px; }
  .main_popup .modal_body .swiper-wrapper .swiper-slide img { width: 375px; }
}
@media screen and (max-width: 360px) {
  .hero_wrapper .swiper-slide a img { width: 326px; }
  .horizontal_item_list .item_thumb > img { width: 268.06px; }
  .square_item_list .item_thumb > img { width: 137.69px; }
  .main_popup .modal_body .swiper-wrapper .swiper-slide img { width: 360px; }
}
@media screen and (max-width: 320px) {
  .hero_wrapper .swiper-slide a img { width: 286px; }
  .horizontal_item_list .item_thumb > img { width: 234.09px; }
  .square_item_list .item_thumb > img { width: 119.69px; }
  .main_popup .modal_body .swiper-wrapper .swiper-slide img { width: 320px; }
}
/* E:webkit image rendering edit */
/* E: media query */

/* S: desktop_bg thema */
@media screen and (min-width: 1024px) {
  
  .desktop_bg.new_year {
    background-image: url('../images/desktop_bg/bg_img.jpg');
  }

  .desktop_bg.new_year .tiger_block {
    position: absolute;
    bottom: 0;
    left: -10px;
    max-width: 400px;
  }

  .desktop_bg.new_year .tiger_block .tiger {
    max-width: 400px;
    width: 100%;
  }

  .desktop_bg.new_year .tiger_block .greeting {
    max-width: 150px;
    position: relative;
    left: 2rem;
  }

  .desktop_bg.new_year:after {
    background-image: -o-linear-gradient(330deg, #f6d365 0%, #fda085 100%);
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    -webkit-box-shadow: 0 10px 30px rgb(255 155 106 / 50%), 0 3px 15px rgb(256 256 256);
            box-shadow: 0 10px 30px rgb(255 155 106 / 50%), 0 3px 15px rgb(256 256 256);
  }

  .desktop_bg.new_year:before {
    width: 100vw;
    height: 250px;
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/desktop_bg/mountain.png');
  }

}

@media screen and (max-width: 1280px){
  .desktop_bg.new_year .tiger_block { max-width: 250px; }
  .desktop_bg.new_year .tiger_block .greeting { max-width: 100px; }
}

@media screen and (max-width: 1024px){
  .desktop_bg.new_year .tiger_block { display: none; }
}
/* E: desktop_bg thema */