@charset "utf-8";
/*-----------S:common------------*/
.pb_0 { padding-bottom: 0 !important; }
.pt_0 { padding-top: 0 !important; }
.inline_block { display: inline-block !important; }
.flex_block.top { -webkit-box-align: start !important; -ms-flex-align: start !important; align-items: start !important; }
.pdf_skin {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: #ededed;
}
.viewer {
  position: absolute;
  width: 793.7007874px;
  min-height: 1122.519685px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
}
.img_viewer { width: 90%; margin: 0 auto; }
.text_line3 {
  line-height: 1.4;
  white-space: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: 4.2em;
}
.text_line4 {
  line-height: 1.4;
  white-space: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: 5.6em;
}
/* S:상품정보 */
.item_thumb { position: relative;  max-width: 100%; width: 72px; height: 72px; }
.item_thumb > img {  max-width: 100%; width: 72px; }
.item_info { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-left: 13px; }
.item_info .sub_title { font-size: 11pt; margin-bottom: 5px; }
.item_info > .title { font-size: 14pt; font-weight: 600; margin-bottom: 5px; }
.item_info .tag { font-size: 10pt; line-height: 1.4; }
.review_desc { display: flex; flex-grow: 1; }
/* .review_desc { 
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap; 
}
.review_desc > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
} */
/* E:상품정보 */
.pdf_btn_wrapper {  text-align: center; margin-top: 1rem; }
.test_img { width: 90%; text-align: center; margin: 0 auto; }
.test_img > img { max-width: 100%; }
.review_img_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1em;
}
.review_img_wrap > img { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; max-width: 30%; }
.page {
  width: 100%;
  height: 1122.519685px;
  overflow: hidden;
}
/*-----------E:common------------*/
/*-----------S:기존 레이아웃1------------*/
.basic { padding: 40px 35px; }
.basic .page_title .title_txt { 
  position: relative; 
  width: 100%;
  font-size: 25px; 
  font-weight: 500; 
  overflow: hidden;
}
.basic .page_title .title_txt .title_hr {
  display: inline-block;
  position: absolute;
  width: 100%;
  vertical-align: bottom;
  overflow: hidden;
  margin-left: 0.5em;
}
.basic .page_title .title_txt .title_hr::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #d2d2d2;
  vertical-align: bottom;
  margin-bottom: 8px;
}
.basic .page_title .link { 
  font-size: 12px; 
  color: #747474; 
  text-align: right; 
  margin-top: 10px; 
}
.basic .item_block { margin: 15px 0 10px;  }
.basic .item_thumb { width: 23%; height: auto; }
.basic .item_thumb > img { width: 100%; }
.basic .item_info { padding-left: 20px; }
.basic .item_info .sub_title {
  font-size: 18px;
  margin-bottom: 13px;
}
.basic .item_info .title {
  font-size: 27px;
  font-weight: 500;
  color: #fa871c;
  margin-bottom: 15px;
}
.basic .item_info .date { margin-bottom: 15px; }
.basic .item_info .date,
.basic .item_info .name {
  font-size: 14px;
  color: #747474;
}
.basic .row_form { position: relative; width: 100%; }
.basic .border_top { border-top: 1px solid #747474; }
.basic .content_block {
  padding: 10px 0; position: relative; width: 100%;
}
.basic .flex_block > .content_block { width: 50%; }
.basic .content_block .content_title { font-size: 14px; font-weight: 500; margin-right: 15px; }
.basic .content_block .content_title .icon { position: relative; top: 1.5px; }
.basic .content_block .content_title .icon > img { width: 15px; }
.basic .content_block .desc {  
  padding-top: 10px; 
  display: inline-block; 
  font-size: 12px; 
  line-height: 1.4;
  padding: 10px;
}
.basic .img_wrap { width: 55%; padding: 10px 10px 10px 0; }
.basic .img_wrap .img_01 { margin-bottom: 10px; }
.basic .img_wrap .img_01 img { width: 100%; height: 250px; -o-object-fit: cover; object-fit: cover; }
.basic .img_wrap .img_02 img,
.basic .img_wrap .img_03 img {
  width: 185px;
  height: 185px;
} 
.basic .form_wrap { width: 45%; padding-top: 10px; }
.basic .row_img img { width: 32%; }
/*-----------E:기존 레이아웃1------------*/
/*-----------S:skin1------------*/
.skin1 {  background-color: #fff; overflow-x: hidden; font-size: 10pt; }
.skin1 .page { padding: 3.5em; }
.skin1 .name { font-weight: 600; }
.skin1 .page_title { margin-bottom: 24px; }
.skin1 .page_title > h2 {
  font-size: 30pt;
  font-weight: 900;
  color: #7B53E8;
  position: relative;
  display: block;
  opacity: 1;
}
.skin1 .page_title > h2 > sub {
  font-size: 13pt;
  position: absolute;
  top: 0;
  right: 0;
  color: #7B53E8;
}
.skin1 .page_title .title_hr {
  display: inline-block;
  position: absolute;
  width: 100%;
  vertical-align: bottom;
  overflow: hidden;
  margin-left: 0.5em;
}
.skin1 .page_title .title_hr::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: #7B53E8;
  vertical-align: bottom;
  margin-bottom: 8px;
}
.skin1 .row_form { padding: 5.5px 0; }
.skin1 .row_form.type_2 { padding: 0px 0; }
.skin1 .flex_block { gap: 1em; }
.skin1 .form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #7B53E8;
  padding: 0;
}
.skin1 .label_box {
  min-width: 6em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  background-color: #7B53E8;
  display: table;
  padding: 5px 10px;
}

.skin1 .form_block .label_box > span {
  color: #fff;
  font-weight: 600;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.skin1 .form_block .form_desc {
  font-size: 10pt;
  line-height: 1.4;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.45em;
  margin-top: -0.2em;
}
.skin1 .form_box {  position: relative; }
.skin1 .form_box .form_desc { line-height: 1.5; padding: 17px 10px 10px; }
.skin1 .form_box .label_box { position: relative; top: 10px; padding: 8px 10px; }
.skin1 .skin_box { border: 1px solid #7B53E8; padding: 8px; }
.skin1 .review_desc { font-size: 10pt; line-height: 1.4; }
/*-----------E:skin1------------*/
/*-----------S:skin2------------*/
.skin2 { background-color: #FFD97B; padding-bottom: 2em; }
.skin2 .table_wrapper { padding: 0 2em; }
.skin2 .skin2_table {
  display: block;
  width: 100%;
  height: 100%;
  border-collapse: collapse; 
  background-color: #fff;
  border: 2px solid #003262;
  border-radius: 15px;
}
.skin2 .skin2_table tr th,
.skin2 .skin2_table tr td {
  padding: 7px 10px;
  font-size: 10pt;
  line-height: 1.4;
}
.skin2 .skin2_table tr th {
  width: 90px;
  font-size: 12pt;
  font-family: 'CookieRun';
  color: #003262;
  text-align: center;
  border-right: 2px solid #003262;
}
.skin2 .skin2_table tr th:nth-of-type(2n) { border-left: 2px solid #003262; }
.skin2 .skin2_table tr { border-bottom: 2px solid #003262; }
.skin2 .skin2_table tr:last-child { border-bottom: none; }
.skin2 .content_block { padding: 0.5em; }
.skin2 .content_block > .title {
  position: relative;
  display: inline-block;
  font-family: 'CookieRun';
  color: #003262;
  font-size: 11pt;
  padding: 0 5px;
  margin-bottom: 10px;
}
.skin2 .content_block > .title:before,
.skin2 .content_block > .title:after {
  content: '';
  position: absolute;
  top: 4.5px;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #003262;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.skin2 .content_block > .title:before {   left: -5px; }
.skin2 .content_block > .title:after { right: -5px; }
.skin2 .review_desc,
.skin2 .content_block .desc { font-size: 10pt; line-height: 1.4; }
/*-----------E:skin2------------*/
/*-----------S:skin3------------*/
.skin3 { background-color: #EDE7D5; }
.skin3 .page { padding: 15px;}
.skin3 .page .frame { border: 2px solid #003C20; border-radius: 15px; padding: 15px;}
.skin3 .page_title { text-align: center; padding-bottom: 10px; }
.skin3 .row_form { padding: 8px 0; }
.skin3 .content_block { padding: 5px 0; }
.skin3 .flex_block > dl { width: 50%; }
.skin3 dl > dt,
.skin3 dl > dd { display: inline-block; font-size: 10pt; }
.skin3 dl > dt {
  font-family: 'Noto Serif KR', serif;
  font-size: 11pt;
  font-weight: 600;
  color: #003C20;
  margin-right: 3px;
}
.skin3_table {
  /* display: block; */
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  border-radius: 15px;
  border-collapse: collapse;
  border: 1px solid #003C20;
  overflow: hidden;
}
.skin3_table tr { border-bottom: 1px solid #003C20; }
.skin3_table tr:last-child { border-bottom: none; }
.skin3_table tr > td { padding: 8px 10px; margin: 0; }
.skin3_table tr th {
  font-family: 'Noto Serif KR', serif;
  width: 20%;
  text-align: center;
  font-size: 11pt;
  font-weight: 900;
  color: #003C20;
  background-color: #D6D6C3;
  border-right: 1px solid #003C20;
}
.skin3_table tr > td { font-size: 10pt; width: 70%; }
.skin3 .item_box { border: 1px solid #003C20; border-radius: 15px; overflow: hidden; }
.skin3 .item_box .item_title {
  font-family: 'Noto Serif KR', serif;
  font-size: 12pt;
  color: #003C20;
  text-align: center;
  font-weight: 700;
  background-color: #D6D6C3;
  border-bottom: 1px solid #003C20;
  padding: 6px 0;
}
.skin3 .item_box .item_desc { padding: 10px 15px; }
.skin3 .content_block { padding: 7px 0; }
.skin3 .content_block .content_title { 
  font-family: 'Noto Serif KR', serif;
  font-size: 10pt;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  background-color: #FF8611;
  padding: 4px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.skin3 .review_desc,
.skin3 .content_block .content_desc { font-size: 10pt; line-height: 1.4; }
/*-----------E:skin3------------*/
/*-----------S:skin4------------*/
.skin4 { background-image: url('../images/portfolio/skin4/skin4-bg.jpg'); }
.skin4 .page { padding: 40px 30px 30px; }
.skin4 .page_title { position: relative; }
.skin4 .page_title .capsule_block {
  position: absolute;
  top: -30px;
  left: -20px;
  z-index: 9999;
}
.skin4 .capsule_block {
  display: inline-block;
  background-color: #FFE425;
  font-size: 18pt;
  font-weight: 900;
  color: #fff;
  border: 1px solid #002FEE;
  border-radius: 30px;
  padding: 10px 15px;
  text-shadow: -1px 0 #002FEE, 0 1px #002FEE, 1px 0 #002FEE, 0 -1px #002FEE;
}
.skin4 .item_box { position: relative; }
.skin4 .item_box .inner {
  position: relative;
  background-color: #fff;
  border: 2px solid #002FEE;
  padding: 15px 15px 20px;
  z-index: 99;
}
.skin4 .item_box:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  right: -10px;
  background-color: #002FEE;
  z-index: 9;
}
.skin4 .title_box { display: inline-block !important; margin-left: 10px; }
.skin4 .title_box .inner { padding: 25px 20px 20px; }
.skin4 .title_box .inner >  .title { font-size: 30pt; font-weight: 900; color: #002FEE; }
.skin4 .sub_box { position: relative; top: 20px; left: -30px; }
.skin4 .sub_box .inner { padding: 20px; }
.skin4 .item_box .smile {
  position: absolute;
  top: -30px;
  right: -30px;
  z-index: 9999;
}
.skin4 dl { margin-bottom: 10px; }
.skin4 dl > dt { font-weight: 500; }
.skin4 dl > dt,
.skin4 dl > dd { display: inline-block; font-size: 10pt; }
.skin4 .content_block { position: relative; padding: 17px 0; }
.skin4 .content_block .block_title {
  position: absolute;
  top: -7.5pt;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  padding: 2px 5px;
  font-size: 12pt;
  color: #002FEE;
  font-weight: 600;
}
.skin4 .item_box .desc { font-size: 10pt; line-height: 1.4; }
.skin4 .content_block.border { border-top: 2px dotted #002FEE; }
.skin4 .row_form { padding: 0px 0; position: relative; }
.skin4 .item_title {
  position: relative;
  top: 20px;
  left: 10px;
  z-index: 999;
  display: inline-block;
  font-size: 14pt;
  color: #fff;
  font-weight: 600;
  background-color: #002FEE;
  padding: 10px 15px;
  border-radius: 30px;
}
/*-----------E:skin4------------*/
/*-----------S:loading modal------------*/
#loadModal .content_block { 
  position: absolute; 
  top: 50%; 
  left: 15%; 
  -webkit-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%); 
  text-align: center; 
}
#loadModal .info_txt {  font-size: 1.2rem; font-weight: 600; color: #fff; text-align: center; margin-top: 1rem; }
#loadModal .loading_box { text-align: center; }
/*-----------S:spinner------------*/
.spinner {
  animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
/*-----------E:spinner------------*/
/*-----------E:loading modal------------*/